<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {% loadblock("base.html", preloading) %}
  </head>
  <body>
    <header>
      <h3><a href="/">RWEB Documentation</a></h3>
    </header>
    <div class="wrapper">
      <aside id="sidebar">
        {% loadblock("base.html", aside) %}
      </aside>
      <main>
        <div class="content">
          <h1>Шаблоны</h1>
          <p>Работа с шаблонами в RWEB</p>
        </div>
      </main>
    </div>
  </body>
</html>
