<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {% loadblock("base.html", preloading) %}
  </head>
  <body>
    <header>
      <h3><a href="/">RWEB Documentation</a></h3>
    </header>
    <div class="wrapper">
      <aside id="sidebar">
        {% loadblock("base.html", aside) %}
      </aside>
      <main>
        <div class="content">
          <h1>Шаблоны</h1>

          <h3 id="description">Введение</h3>
          <p>Шаблоны помогают в случаях, когда необходимо добавить динамическое содержимое на сложных страницах. Например когда у Вас сложный дизайн сайта или на 
          странице очень много элементов, но нужно менять какие-либо данные (имя пользователя, дата и др.), шаблоны помогут разметить место под эти данные. 
          Ниже рассмотрим способы задания шаблонов и их синтаксис, а Вашей задачей будет лишь грамотно их использовать</p>

          <h3 id="clientUsage">Использование шаблонов в обработчике</h3>
          <p><code class="language-cpp">HTMLTemplate createTemplate(const std::string&amp;, const std::string&amp;);</code><br>
          Эта функция используется для создания пустого шаблона. Первый аргумент - это путь к файлу шаблона от папки ресурсов. Сразу отметим, что шаблоны 
          записываются в файлах HTML. Но могут и использоваться в других случаях при должном подходе. Второй аргумент - это статус ответа сервера, в обычном случае 
          лучше ставить <code class="language-cpp">rweb::HTTP_200</code>, что означает, что при отправке ответа он будет иметь статус <b>200 OK</b>. Вы можете указывать 
          и другие статусы ответа.
          </p>

          <p>Также можно создать шаблон напрямую из строки. Это полезно, например, для отладки.
          <pre><code class="language-cpp"><xmp>rweb::HTMLTemplate templ = "<h1>Debug data</h1>";</xmp></code></pre>
          В таком случае шаблон создается с параметрами: кодировка - utf-8, статус ответа - 200, MIME-тип - text/html.
          </p>

          <p><code class="language-cpp">void renderJSON(const nlohmann::json&amp; json);</code><br>
          Эта функция позволяет сформировать шаблон, используя, переданный JSON. Отметим, что RWEB сразу идет с библиотекой nlohmann::json. После успешного формирования шаблона, его можно вернуть 
          из функции обработчика. Каждый шаблон хранит в себе: HTML содержимое, имя файла, из которого собран шаблон, статус ответа, кодировка данных шаблона и MIME тип данных шаблона. Если 
          статус ответа равен <code class="language-cpp">rweb::HTTP_500</code>, значит шаблон был собран с ошибками, но Вам не нужно лишний раз проверять успешность его сборки, ведь при отправке 
          учитываются все данные шаблона, следовательно при ошибке сервер отправит код с ошибкой клиенту. <br>Пример работы с шаблонами приведен ниже
          <pre><code class="language-cpp">rweb::addRoute("/", [](const rweb::Request r){
  rweb::HTMLTemplate templ = rweb::createTemplate("index.html", rweb::HTTP_200);
  nlohmann::json json = nlohmann::json::parse(rweb::getFileString("config.json"));
  templ.renderJSON(json);
  return templ;
});</code></pre>
          Если же Вы не хотите использовать шаблонный синтаксис, Вы можете вернуть шаблон без вызова <code class="language-cpp">HTMLTemplate::renderJSON()</code> или задать этот путь, как статический 
          ресурс с типом содержимого <b>text/html</b>, что рекомендуется.
          </p>

          <h3 id="variables">Переменные</h3>
          {% raw %}
          <p>Переменные (как самостоятельные так и принадлежащие циклам) задаются в двойных фигурных скобках <code class="language-html">{{variable_name}}</code>
          Но функционал переменных позволяет записывать в них и математические выражения <code class="language-html">{{variable + (3 ** 2)}}</code>. Стоит упомянуть, что 
          почти все шаблоны в RWEB поддерживают математические выражения. Значение переменной будет задано в соответствии с именем переданном в JSON.</p>
          {% endraw %}

          <h3 id="if">Условный оператор if</h3>
          <p>Условный оператор if позволяет отобразить то или иное содержимое, в зависимости от значения выражения. Он записывается в формате 
          {% raw %}<code class="language-html">{% if left_operand operator right_operand %}</code>{% endraw %}, далее записывается содержимоe, отображаемое при 
          истинности выражения. Далее (необязательно) идет
          {% raw %}<code class="language-html">{% else %}</code>{% endraw %} и после него содержимое, отображаемое в ином случае. 
          При отсутствии {% raw %}<code class="language-html">{% else %}</code>{% endraw %} и ложности выражения
          ничего отображено не будет. Условный оператор должен обязательно быть завершен {% raw %}<code class="language-html">{% endif %}</code>{% endraw %}. 
          Напомню, что допускается использование математических выражений в операндах. Ниже приведен пример работы условного оператора. <br>
          <pre><code class="language-html"><xmp>{% raw %}{% if score > 3 %}
  <h1>Your score is greater than 3</h1>
{% else %}
  <h1>Try again!</h1>
{% endif %}

{% if role == admin %}
  <div>Код панели администратора...</div>
{% endif %}{% endraw %}</xmp></code></pre>
          </p>

          <p>Также <b>if</b> может проверять существует ли переменная. Например {% raw %}<code class="language-html">{% if variable %}</code>{% endraw %} будет <b>true</b>, если такая переменная 
          существует.</p>

          <h3 id="for">Цикл for</h3>
          <p>Циклы могут быть полезны, когда требуется отобразить повторяющееся содержимое (необязательно) с небольшими изменениями. Рассмотрим ситуацию когда 
          нужно реализовать навигационное меню с ссылками на странице/сайте. 
          <pre><code class="language-html"><xmp><aside>
  <ul>
    <li><a href="/home">Главная</a></li>
    <li><a href="/profile">Профиль</a></li>
  </ul>
</aside></xmp></code></pre>

          Для этого прекрасно подойдет цикл for. Он записывается в формате 
          {% raw %} <code class="language-html">{% for variable in iterateable_array %}</code> {% endraw %}, далее записывается повторяющееся содержимое цикла. 
          И в конце {% raw %}<code class="language-html">{% endfor %}</code>{% endraw %}. Цикл for также может работать аналогично функции enumerate в Python и 
          записывается так (обратите внимание, что в таком режиме цикл использует 2 переменных, первая из которых - индекс): 
          {% raw %}<code class="language-html">{% for index, variable in enumerate(iterateable_array) %}</code>{% endraw %}. В обоих примерах iterateable_array - это 
          массив, по которому идет итерация, index - это индекс итерации, а variable - это переменная которая итерирует массив.
          Пример для решения представленной проблемы:
          {% raw %}<pre><code class="language-html"><xmp><aside>
  <ul>
  {% for m in menu %}
    <li><a href="{{m.url}}">{{m.title}}</a></li>
  {% endfor %}
  </ul>
</aside></xmp></code></pre>{% endraw %}
          </p>

          <h3 id="block">Блоки</h3>
          <p>Однотипное содержимое, которое повторяется из страницы в страницу можно "вынести" за блок. Например, когда на сайте требуется подключение 
          множественных <b>css</b> файлов, то может быть не удобно редактировать их подключение на всех страницах при малейших изменениях. Для решения этой проблемы 
          в RWEB представлены <b>блоки</b>. Чтобы начать ими пользоваться требуется создать отдельный (необязательно HTML) файл и записать туда повторяющееся 
          содержимое в свои блоки. Вот так например: 
          {% raw %}<pre><code class="language-html"><xmp>{% block css %}
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style2.css">
{% endblock %}</xmp></code></pre>{% endraw %} Блок записывается сначала с объявлением <b>block</b>, а потом через пробел указывается имя блока. Блок заканчивается с 
          помощью <b>endblock</b>, как в примере.</p>

          <p>Для того, чтобы воспользоваться этим блоком на странице используется 
          {% raw %}<code class="language-html">{% loadblock("filename", blockName) %}</code>{% endraw %}. <b>loadblock</b> будет заменен на содержимое блока 
          <b>blockName</b> из файла <b>filename</b>.</p>

          <h3 id="raw">"Сырые" выражения</h3>
          <p>В случае, когда необходимо представить содержимое, которое не должно обрабатываться шаблонизатором подойдет <b>raw</b>. Он работает аналогично 
          <b>xmp</b> в HTML, только для шаблонизатора. Сырое выражение записывается между <b>raw</b> и <b>endraw</b>, как в примере: 
          {% raw %}<code class="language-html">{% raw %} raw statement {{raw_variable}}{% endraw %}</code>.{% endraw %} Также <b>raw</b> можно вкладывать друг в 
          друга, но стоит помнить, что вложенные <b>raw</b> должны быть обязательно закрыты!</p>

        </div>
      </main>
      <aside id="rightbar">
        <h4>Содержание</h4>
        <ul>
          <li><a href="#description" class="anim">Введение</a></li>
          <li><a href="#clientUsage" class="anim">Использование</a></li>
          <li><a href="#variables" class="anim">Переменные</a></li>
          <li><a href="#if" class="anim">Оператор if</a></li>
          <li><a href="#for" class="anim">Цикл for</a></li>
          <li><a href="#block" class="anim">Блоки</a></li>
          <li><a href="#raw" class="anim">"Сырые" выражения</a></li>
        </ul>
      </aside>
      <footer></footer>
    </div>
  </body>
</html>
